<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Системы автоматического полива в Казани.</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}

<img src="/static/images/photo_5406577988839003084_y.jpg" style="width: 100px; height: 100px; border-radius: 100px;">
<p>


</p>
<h3 align="center" style="margin: 40px;color: white; padding-top: 150px;">Автоматический ландшафтный полив в Казани и
    Республике Татарстан</h3>
<h5><pre style="color: white;">Хотите освободить время для отдыха и общения с семьей,
    а не тратить его на постоянный полив своего участка?</pre>
</h5>
<h4 align="center" style="margin: 40px;color: white;">Тогда система автополива – это именно то, что Вам нужно!</h4>

<div align="center">
    <a href="https://wa.me/+79376151716"
       style="color:white; background-color:green; margin: 25px; padding: 10px; border-radius: 25px;" target="_blank"
       rel="noopener noreferrer">Написать в WhatsApp</a>
    <a href="/vopros_1"
       style="color:white; background-color:black; margin: 25px; padding: 10px; border-radius: 25px;" target="_blank"
       rel="noopener noreferrer">Рассчитать стоимость</a>
</div>

{% endblock %}

</body>
</html>