<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рассчет цены</title>
    <style>
        .outer {
          display: table;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
        .middle {
          display: table-cell;
          vertical-align: middle;
        }
        .inner {
          margin-left: auto;
          margin-right: auto;
          width: 400px;
          /* Whatever width you want */
        }



    </style>
</head>
<body>
{% extends "base.html" %}

{% block content %}

<div class="outer">
    <div class="middle">
        <div class="inner">
            <h4 style="color: white">Система полива нужна для:</h4>
            <label style="color: white;"><input type="radio" name="t8"> Дом, дача, коттедж</label><br>
            <label style="color: white;"><input type="radio" name="t8"> Жилой комплекс</label><br>
            <label style="color: white;"><input type="radio" name="t8"> Коммерческая территория</label><br>
            <a href="/vopros_2"
               style="color:white; background-color:blue; margin: 250px;
               padding-left: 50px; padding-right: 50px; padding-top: 5px; padding-bottom: 5px;
                border-radius: 25px;">Следующий</a>
        </div>
    </div>
</div>

{% endblock %}

</body>
</html>